<div id="textMain">
  <p>
<b>Our Services</b><br>

Rockon offers you an innovative way to build using pre-built panel systems, sometimes referred to as panelized 
building system. Building with pre-built panel systems has the advantage of factory controlled precision. Pre-manufacture 
red panel systems are created using CAD computer technology, high-tech cutting saws and built under strict design and
quality control supervision. Rockon can work from virtually any building plan to provide you with an accurate construction 
quote. If you do not currently have a plan or you wish to modify an existing plan our experienced design staff will be glad 
to work with you on designing your dream home or Commercial building.

</p>

<p>
<b>Product</b><br>
Rockon Construction System can be employed not only for residential but also for theatre, school, office buildings, 
high –rise buildings, stadiums, hospitals, convention centres, military barracks and warehouses, just to name a few. 
Whereas, the Rockon Construction System Pvt Ltd in India, supplies the panel material needed for the monolithic construction,
 Hawthorne Builders Pvt Ltd, will act as your construction company to execute your projects using the Rockon technology.

</p>
</div>
