<div id="textMain">
  <p>
Rockon Construction Systems Pvt Ltd has created this Web Site to inform its users. Rockon Construction Systems 
Pvt Ltd is not liable to users for any damage resulting from use of its Web Site, nor is Rockon Construction 
Systems Pvt Ltd in any way responsible for the conduct of its users, or information exchanged on its Web Site. 
If, through your use of our Web Site, you believe you have been the victim of a crime or other illegal activity,
 please contact the appropriate authorities. By accessing and remaining on this Web Site, printing or downloading
  materials from this site, or using this site in any manner, you as the "User" agree to the Terms of Service 
  and Conditions for Use set forth herein and on the links identified below (collectively the "Terms of Use"). 
<br><br>
Information on this Web Site may contain inaccuracies or typographical errors. Information may be changed or 
updated without notice. This Web Site does not constitute an offer or contract.
<br><br>
Rockon Construction Systems Pvt Ltd makes no representations whatsoever about other Web Sites that you may 
access through this one. When you access a non-Rockon Construction Systems Pvt Ltd Web Site, please understand 
that it is independent from Rockon Construction Systems Pvt Ltd, and that Rockon Construction Systems Pvt Ltd 
has no control over the content on that Web Site. In addition, a link to a non-Rockon Construction Systems Pvt 
Ltd Web Site does not mean that Rockon Construction Systems Pvt Ltd endorses or accepts any responsibility for 
the content, use, or products and services made available through such Web Site.
<br><br><b>
IN NO EVENT WILL ROCKON CONSTRUCTION SYSTEMS PVT LTD BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL
 OR OTHER CONSEQUENTIAL DAMAGES FOR ANY USE OF THIS WEB SITE, OR ANY OTHER HYPERLINKED WEB SITE, INCLUDING, 
 WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA OR OTHERWISE, 
 EVEN IF WE ARE EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
<br><br>
INFORMATION ON THIS WEB SITE IS PROVIDED "AS-IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED,
 INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, 
 OR NON-INFRINGEMENT. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSIONS OF IMPLIED WARRANTIES, SO THE ABOVE 
 EXCLUSION MAY NOT APPLY TO YOU.
</b><br><br>
Anyone who prints, downloads, copies or otherwise communicates information from this Web Site is responsible for
 communicating these Terms of Use to the person(s) to whom such information is communicated; and further agrees
  to hold Rockon Construction Systems Pvt Ltd harmless against any and all claims arising out of or in connection
   with their failure to abide by these Terms of Use. </p>
 </div>
