  <div id="textMain">
  <p>
    
<b>Our Company</b><br>
<div style="float:right; padding: 0px 0px 0px 10px;"><%= image_tag("../images/india/home.gif") %></div>
In a world grown accustomed to evolutionary change, one remarkable building system is making a truly revolutionary
impact on global construction. The ROCKON construction Systems---a construction system which provides long term 
durability and energy savings without compromising our natural resources.<br><br>

Rockon Construction System combines the advantage of Strength, Durability, Flexibility, Energy saving, Thermal & 
Sound Insulation properties, “Greenness” and Earthquake and Cyclone-resistance---“ALL IN ONE”. This truly 
remarkable technology has been in existence for over 40 years and is now coming to India. 
<br><br>
India is currently at a stage where speed of execution of projects is of critical importance. With commercial 
interest rates in mid-high teens, any saving in construction time is likely to translate into huge savings in 
interest costs. Such saving in construction time is one of the principal benefits of Rockon. For full list of the
 advantages of using this product, please see ‘product benefits’ tab.<br><br>
 </p>
 
 <p>
<b>Mission</b><br>
Our mission is to provide world class Construction Systems that are speedy, cost-effective and earth friendly.
</p>
<p>
<b>Vision</b><br>
Our Vision is to be Premier Supplier and Builder of the unique ROCKON green technology system, to South Asia 
and rest of the world.
 </p>
</div>
