<div id="textMain">
  <p>
<b>Our Company</b><br>
In a world grown accustomed to evolutionary change, one remarkable building system is making a truly revolutionary
impact on global construction. The ROCKON construction Systems---a construction system which provides long term 
durability and energy savings without compromising our natural resources.


Rockon Construction System combines the advantage of Strength, Durability, Flexibility, Energy saving, Thermal & 
Sound Insulation properties, “Greenness” and Earthquake and Cyclone-resistance---“ALL IN ONE”. This truly 
remarkable technology has been in existence for over 40 years and is now coming to India. 
India is currently at a stage where speed of execution of projects is of critical importance. With commercial 
interest rates in mid-high teens, any saving in construction time is likely to translate into huge savings in 
interest costs. Such saving in construction time is one of the principal benefits of Rockon. For full list of the
 advantages of using this product, please see ‘product benefits’ tab.
 </p>
 
 <p>
   <b>Mission</b><br>
Our mission is to provide world class Construction Systems that are speedy, cost-effective and earth friendly.
</p>
<p>
<b>Vision</b><br>
Our Vision is to be Premier Supplier and Builder of the unique ROCKON green technology system, to South Asia 
and rest of the world.
 </p>
 <p>
   <b>Our Services</b><br>
Rockon offers you an innovative way to build using pre-built panel systems, sometimes referred to as panelized 
building system. Building with pre-built panel systems has the advantage of factory controlled precision. 
Pre-manufacture red panel systems are created using CAD computer technology, high-tech cutting saws and built 
under strict design and quality control supervision.

Rockon can work from virtually any building plan to provide you with an accurate construction quote. If you do 
not currently have a plan or you wish to modify an existing plan our experienced design staff will be glad to 
work with you on designing your dream home or Commercial building.
 </p>
 <p>
   <b>Product</b><br>
   Rockon Construction System can be employed not only for residential but also for theatre, school, office 
   buildings, high –rise buildings, stadiums, hospitals, convention centres, military barracks and warehouses, 
   just to name a few.

Whereas, the Rockon Construction System Pvt Ltd in India, supplies the panel material needed for the monolithic 
construction, Hawthorne Builders Pvt Ltd, will act as your construction company to execute your projects using 
the Rockon technology.
 </p>
</div>
