<div id="textMain">
  <p>
Rockon Construction Systems Pvt Ltd is not obligated to monitor the content, or validate the accuracy, 
of information exchanged on its Web Site, and it is not Rockon Construction Systems Pvt Ltd's policy to do so.
 However, by utilizing our Web Site, you acknowledge the right of Rockon Construction Systems Pvt Ltd to 
 randomly and without prior notice monitor the content of information created, posted, disseminated, or 
 otherwise exchanged in public areas on its Web Site for adherence to its policies. Rockon Construction 
 Systems Pvt Ltd reserves the right to prohibit conduct, communication, or content which it deems in its 
 discretion harmful to individual users. Rockon Construction Systems Pvt Ltd also reserves the right to 
 prohibit conduct, communication, or content that may violate federal or state law. Rockon Construction 
 Systems Pvt Ltd may disclose any content, record, or electronic communication of any kind:
<br><br><b>
1. To satisfy any law, regulation or authorized governmental request;
<br>
2. If such disclosure is necessary to operate its Web Site;
<br>
3. To protect the rights or property of Rockon Construction Systems Pvt Ltd or users of its Web Site.
</b><br><br>
Except for the Terms of Use stated herein, use of this Web Site does not create any contract, agreement, 
legal rights or obligations between User and Rockon Construction Systems Pvt Ltd. User acknowledges and 
agrees that Rockon Construction Systems Pvt Ltd does not warrant the accuracy or completeness of text, graphics, 
links or other information contained within this site. User agrees that User shall not act in reliance upon the
 information contained herein and waives any claim, demand, cause of action or damages incurred as a result 
 of reliance on such information.
<br><br>
You understand and expressly agree that use of the services and information available from this Web Site are 
at your sole risk, that any material and/or data downloaded or otherwise obtained is at your own discretion 
and risk, and you are solely responsible for any damage to your computer system or loss of data that results
 from the download of such material and/or data.
<br><br>
You agree to indemnify, defend and hold harmless Rockon Construction Systems Pvt Ltd, and their respective 
affiliates, and any of the partners, members, shareholders, officers, directors, employees, consultants, 
attorneys and agents of any of the foregoing from any and all third party claims, liability, damages and/or 
costs (including, but not limited to, attorneys fees) arising from your use of this Web Site, your violation
 of the Terms of Use or your infringement, or infringement by any other user of your account, of any intellectual
  property or other right of any person or entity.
<br><br>
 You acknowledge that Rockon Construction Systems Pvt Ltd may terminate your use of this site or your access to 
 this site at any time, with or without cause. Any disruption of this site caused by an activity of a viewer 
 will be prosecuted.
 </p>
 </div>
