<div id="sidebar">
          <br><br><br><br><br>
            We are located at:
            <br>
            <br>
            100 Tower Drive
      <br>
      Suite #119
            <br>
            Burr Ridge, IL 60527
            <br>
            <br>
            Phone: (312) 235-6647
            <br>
            Fax  : (630) 786-3123
 </div>  
 <div id="text">
            <br>
            <br><br><br>
            <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=100+Tower+Drive,+Suite+%23119++Burr+Ridge,+IL+60527+&sll=37.0625,-95.677068&sspn=38.144864,73.740234&ie=UTF8&hq=&hnear=100+Tower+Dr+%23119,+Burr+Ridge,+Cook,+Illinois+60527&z=16" target="_blank"><%= image_tag("locationAddress.gif") %></a>
            <br>
            <br>
            <p>
                If you're a prospective customer or need more
                <br>
                information about Phoenix, please <a href="mailto:Arjun@hawthorne-corp.com">Email Us</a>
            </p>
 </div>