<div id="sidebar" style="padding: 80px 20px 20px 20px">
  <br><%= image_tag("about_img.gif", :size=>"200x200") %>        
</div>  
<div id="text" style="padding: 80px 20px 20px 20px">
  &nbsp;&nbsp;&nbsp;At Rockon we build custom panels and additions. Our experience is in creating unique custom designs and 
  successfully integrating the new homes into their natural site surroundings. We work closely with you to 
  incorporate your likes, details and life style into the project. Our reputation for customer satisfaction 
  makes Rockon a leader in the region.<br>
  
  &nbsp;&nbsp;&nbsp;Rockon can take advantage of the entire know-how of all companies within their group. New methods and 
  techniques are devised in close cooperation with the production engineers and metallurgists of their 
  affiliated companies. Rockon also provides know-how for the distribution and application of mesh and wire 
  products.<br>

  &nbsp;&nbsp;&nbsp;The unique association of their companies ensures comprehensive knowledge and authority for the benefit of 
  their customers. Due to its high-strength, load-bearing panels, the Rockon-3D construction systems constitutes 
  an innovative building method for both residential and industrial buildings.<br>

  &nbsp;&nbsp;&nbsp;In addition to complete production equipment for panel manufacturing plants, Rockon also provides the 
  engineering support required for planning and implementing construction projects with Rockon-construction 
  systems.<br>

  &nbsp;&nbsp;&nbsp;"We have the capability to deliver specialized panels and enclosures for Telecom, Mining, Defense and such 
  specialized applications. Our associates are there to provide Design services, Installation, Construction and 
  Maintenance services. In short, Rockon group could be your single point contact for Full Life Cycle support 
  and services."
</div>
<!--
<div id="sidebar" style="padding: 80px 20px 20px 20px">
  <%= image_tag("DrVishPic.jpg", :size=>"160x105") %>
  <br>
  Dr Ganeshan (Vish)
  <br>
  Visvabharathy, President
</div>
        
<div id="text" style="padding: 80px 20px 20px 20px">
  &nbsp;&nbsp;&nbsp;&nbsp; 
  Ganeshan Visvabharathy (popularly called as Dr Vish) is the President and CEO of Vilas Development  
  Corporation, a real estate development firm located in Burr Ridge, Illinois. He has been serving 
  in this capacity for the last 21 years. Over the past 21 years, Vilas has converted, built or 
  redeveloped over five thousand condominium units in the city of Chicago, as well as the suburban
  areas of Chicago, downstate Illinois, and also in the state of Florida, valued in excess of $1.5Billion.
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp; 
  Dr Vish has served on the boards of the Homebuilders Association of Greater Chicago, TIE(The Indus 
  Entrepreneurs) organization, Business Advisory Group of the State of Illinios(under Rep Patty Bellock),
  and Chicago Crime Commision, a non profit Citizen Law-enforcement help Organization.
</div>

<div id="sidebar" style="padding: 20px 20px 20px 20px">
  <%= image_tag("everestpartners_Arjun.jpg") %>
  <br>
  Arjun Rangarajan
  <br>
  Vice President
  <br>
  Asset Management
</div>
<div id="text" style="padding: 30px 20px 20px 20px">
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;
  Arjun heads the Phoenix' Asset Management Division. Arjun has over 8 years of experience managing thousands
  of Apartments in a multi-state setting.
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;
  Arjun has had extensive exposure, and has been actively involved in leasing, maintenance, tenant, community,
  city and law enforcement relations, property tax appeal, condominium association management, condominium
  declaration and bye-laws, apartment renovation, as well as structural improvements.
</div>
-->
